netdata-url: http://192.168.1.50:19999/
ha-local-or-remote: local
ha-ip: 192.168.1.50
ha-name: dhcp-1
ha-port: 8123
ha-theme: default
ha-timezone: America/Los_Angeles
ha-url: http://dhcp-1.local:8123
mqtt-broker: 192.168.1.40
mqtt-password: password
mqtt-port: 1883
mqtt-username: username
webcam-password: password
webcam-username: username
# nmap-tracker
nmap-tracker-hosts: 192.168.1.0/24
nmap-tracker-exclude: 192.168.1.50
# startup
internet-automations: off
# logger
logger-default: error
##
internet-scan-interval: 1800
intranet-scan-interval: 300
